*{
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}

body{
	
	width: 1500px;
	height: 688px;
	background-image: url("input-bg-05.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.major_box{
	
	position:relative;
	width:800px;
	height:650px;
	left: 395px;
	top: 50px;
	
}

.major_box div{

	width:50%;
	height:90%;
	float:left;
	font-size:20px;
	margin-right:80px;

}

.major_box div h1{
	
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	color:white;
	border-top:1px solid white;
	border-bottom:1px solid white;
	padding:30px;
}

.major_box div > p{
	
	margin-top:45px;
	color:white;
}

.major_box aside{

	width:40%;
	height:90%;
	float:left;
}

ul{
	
	width:100%;
	height:50%;
	margin-top:140px;
	background-color:#2F4F4F;
	list-style-type:none;
	opacity: 0.8;
	font-size:20px;
	border-radius:20px;
	
}

.major_box footer {
	
	text-align:center;
	color:white;
	font-size:20px;
}


li{
	
	margin-top:15px;
	color:white;
	margin-left:60px;
	padding-top:20px;
	padding-bottom:20px;
}

li:hover {
	
  color: red;
}

li:active {
	
  color: yellow;
  
}

a{
	
		text-decoration:none;
		
}
